@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-primary: #0a0a0a;
  --color-primary-foreground: #f5f5f5;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0a0a0a;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #1bb7f5;
  --color-border: #e2e8f0;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #f5f5f5;
  --color-card: #0a0a0a;
  --color-card-foreground: #f5f5f5;
  --color-primary: #f5f5f5;
  --color-primary-foreground: #0a0a0a;
  --color-secondary: #1e293b;
  --color-secondary-foreground: #f5f5f5;
  --color-muted: #1e293b;
  --color-muted-foreground: #1bb7f5;
  --color-border: #1e293b;
}

root {
  max-width: 100%;
  margin: 0;
  padding: 0;

}
